.ContactTextArea {
  width: 100%;
  position: relative;
}

.ContactTextArea textArea {
  width: 100%;
  height: 130px;
  margin: 16px 0;
  background-color: var(--menu-background-color);
  color: var(--font-color-main);
  border: 1px solid var(--portrait-border-color);
  border-radius: 23px;
  outline: none;
  padding-top: 10px;
  padding-left: 38px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.ContactTextArea i {
  color: var(--font-color-main);
  opacity: 0.3;
  position: absolute;
  top: 28px;
  left: 15px;
}
