.Skill {
  width: 100%;
  height: 88px;
  /* background-color: rebeccapurple; */
}
.Skill .text {
  width: 100%;
  height: 50%;
  color: var(--font-color-main);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
}
.Skill .chart-bar {
  border-top: 1px solid var(--portrait-border-color);
  width: 100%;
  height: 50%;
  position: relative;
}

.Skill .chart-bar .bar {
  height: 1px;
  background-color: var(--app-color-main);
  position: absolute;
}

.Skill .chart-bar .percent {
  width: 46px;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: var(--app-color-main);
  border: 1px solid var(--app-color-main);
  position: absolute;
  top: -37.66px;
}

.Skill .chart-bar .percent::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--app-secondary-color);
  border-bottom: 1px solid var(--app-color-main);
  border-right: 1px solid var(--app-color-main);
  transform: rotate(45deg);
  position: absolute;
  bottom: -5.66px;
}
