.Info .left img {
  width: 440px;
  height: auto;
  margin-right: 50px;
}
.Info .left::before {
  margin-right: 50px;
  content: "";
  border: 6px solid var(--app-color-main);
  width: 440px;
  height: 440px;
  position: absolute;
  z-index: -1;
  transform: translate3d(26px, 26px, -26px);
}

.Info .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Info .right ul {
  list-style: none;
  padding-left: 0;
}

.Info .right ul li {
  position: relative;
}
.Info .right ul li:not(:last-child) {
  margin-bottom: 25px;
}
.Info .right ul li h6,
.Info .right ul li h6 span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: var(--font-color-main);
}
.Info .right ul li h6 span {
  font-weight: 400;
  padding-right: 20px;
  opacity: 0.7;
}

.Info button {
  margin-top: 25px;
  color: var(--font-color-main);
  background-color: var(--app-color-main);
  border: 1px solid transparent;
  box-shadow: none;
  border-radius: 23px;
  font-weight: 500;
  width: 280px;
  height: 46px;
  line-height: 46px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 33px;
  outline: none;
  letter-spacing: 0.5px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}

.Info button i {
  color: var(--font-color-main);
  margin-right: 12px;
  transition: color 0.2s ease-in-out;
}

.Info button:hover {
  color: var(--app-color-main);
  background-color: transparent;
  border: 1px solid var(--app-color-main);
}
.Info button:hover i {
  color: var(--app-color-main);
}

@media only screen and (max-width: 991px) {
  .Info .right ul li h6 span {
    padding-right: 0px;
  }
  .Info .left img {
    margin-right: 0;
  }

  .Info .left::before {
    transform: translate3d(50px, 26px, -26px);
  }
}
@media only screen and (max-width: 545px) {
  .Info .left::before {
    display: none;
  }
  .Info .left img {
    width: 80vw;
    height: auto;
  }
}
@media only screen and (max-width: 380px) {
  .Info .right ul li h6,
  .Info .right ul li h6 span {
    font-size: 12px;
    font-weight: 400;
  }
}
