.FormElement {
  width: 100%;
  position: relative;
  margin: 16px 0;
}

.FormElement input {
  width: 100%;
  height: 46px;
  background-color: var(--menu-background-color);
  color: var(--font-color-main);
  border: 1px solid var(--portrait-border-color);
  border-radius: 23px;
  outline: none;
  padding-left: 38px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.FormElement i {
  color: var(--font-color-main);
  opacity: 0.3;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
