.Loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.Loader .mid {
  width: 200vw;
  height: 2vh;
  background-color: var(--app-color-main);
  animation-name: slide;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}
.Loader .mid .left {
  width: 100vw;
  height: 2vh;
  background-color: var(--menu-secondary-color);
}

.Loader .top,
.bottom {
  background-color: var(--app-secondary-color);
  width: 100vw;
  height: 49vh;
  transition: all 5s ease-in-out;
}
.Loader .bottom {
  display: flex;
  justify-content: center;
}

.Loader .top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Loader h1 {
  margin-top: 0.5rem;
  color: var(--menu-secondary-color);
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 7px;
}

.Loader .top:hover {
  transform: translateY(-100%);
}

.Loader .bottom:hover {
  transform: translateY(100%);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
